.box{
    width: 90%;
    height: 25px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px ;
    position: relative;
    left: 4%;

}
.inside_box{
    background-color: plum;
    height: 100%;
    border-radius: 20px;

    animation: animate 3s infinite 
}

@keyframes animate{
    0%{width: 0%;}
    90%{width: 95%;}
    95%{width: 70%;}
    100%{width: 100%;}
}